@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn-checkout {
  margin-top:8px !important;
  padding: 12px 24px !important; /* Adjust padding as needed */
  width: auto !important; /* Default width for larger screens */
  background-color: #037c47!important;
  margin-bottom:25px !important;
}

*{
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

/* Header.css */

.appBar {
  background-color: #1976d2; /* Customize background color */
}

.title {
  flex-grow: 1; /* Ensures the title takes up remaining space */
}

.footer {
  background-color: #333; /* Customize background color */
  position: fixed!important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
}

.footer .MuiToolbar-root {
  display: flex;
  justify-content: center;
}

.text {
  margin: 0 auto; /* Center-align text */
}

@media (max-width: 600px) {
  .btn-checkout {
    width: 100%; /* Full width for screens smaller than 600px */
  }
}
